body, html {
    margin: 0;
    padding: 0;
    margin-left: 20px;
    background-image: radial-gradient(circle, rgb(219, 72, 72), rgb(231, 231, 61), rgb(73, 201, 73))
}
.title {
    position: absolute;
    top: 5%;
    left: 75%;
    font-family: 'Modak', cursive;
    font-size: 50px;
    color: white;
    text-shadow: 4px 4px 8px black;
    letter-spacing: 5px;
}
.container {
    width: 75%;
}
.gif {
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    background-color: black;
    color: white;
}
.addLabel {
    font-size: 20px;
    background-color: black;
    color: white;
    padding-left: 2px;
    margin-right: 5px;
}
#add-gifs {
    font-size: 20px;
    background-color: black;
    color: white;
    padding: 2px;
}
#gif-input {
    font-size: 20px;
    border: 1px solid black;
    margin-top: 1px;
    padding: 2px;
}
#gifs-view {
    font-weight: bold;
    margin: 0 auto;
    margin-top: 20px;
}
img {
    margin-top: 5px;
    margin-right: 25px;
    margin-bottom: 15px;
}
.gifBox {
    float: left;
}